<a href="#" data-rel="collapse" ng-click="regresar()"><i class="glyphicon glyphicon-circle-arrow-left"></i> Regresar</a>
<br />
<div class="row">
    <div class="col-md-12 panel-primary">
        <div class="content-box-header panel-heading">            
            <div class="panel-title ">Nuevo Participante</div>
        </div>
        <div class="content-box-large box-with-header">
        </div>
    </div>
</div>