<div class="content-box-large">
    <div class="panel-body">
        <div class="table-responsive">

            <h4><strong><u>{{saldototal.nombre_evento}}</u></strong></h4>

            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>TOTAL A RECAUDAR</th>
                                    <th>RECIBIDO</th>
                                    <th>PENDIENTE DE RECIBIR</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{saldototal.total | currency : "Q " : 2}}</td>
                                    <td>{{saldototal.abonado | currency : "Q " : 2}}</td>
                                    <td>{{saldototal.pendiente | currency : "Q " : 2}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="row">                
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Saldo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sal in saldosdiarios">
                                    <td>{{sal.fechasaldo}}</td>
                                    <td>{{sal.saldodiario | currency : "Q " : 2}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>